<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="smartystreets:AuthId" value="9550482a-a28c-424a-a0a8-38f2aa4bdf8f" />
    <add key="smartystreets:AuthToken" value="x6UnMIiySDLRFlZC97tP" />
  </appSettings>
</configuration>